<footer>
    <div class="main">
      <div class="content footer-links">
        <div class="footer-company">
          <h4>Empresa</h4>
          <li class="nav-item">
            <a class="nav-link text-white" href="index.html#sobre">Sobre nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="index.html#contato">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="local.html">Localização</a>
          </li>
        </div>
        <div class="footer-rental">
          <h4>Serviços</h4>
          <h6>Venda de carros</h6>
          <h6>Financiamento</h6>
          <h6>Suporte</h6>
        </div>
        <div class="footer-social">
          <h4>Redes sociais</h4>
          <div class="social-icons">
            <img src="/static/global/img/instagram.png" alt="Instagram">
            <img src="/static/global/img/facebook.png" alt="Facebook">
          </div>
        </div>
        <div class="footer-contact">
          <h4>Contato</h4>
          <h6>+55 99 99999999</h6>
          <h6>contato@carroshop.com.br</h6>
          <h6>Rua Principal, Rio de Janeiro, RJ</h6>
        </div>
      </div>
    </div>
    <div class="last">CarroShop 2024 - Todos os direitos reservados</div>
  </footer>